
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EJS Bears</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  </head>
  <body  class="container">
    <div class="jumbotron">
      <h1>You have found the post page!</h1>
      <p>da bears-- suck</p>
    </div>

    <div class="row">
      <div class="col-xs-10">
        <form action="">
            <fieldset class="form-group">
              <label>Bear Name</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="enter the name of bear">
            </fieldset>
            <fieldset class="form-group">
              <label for="formGroupExampleInput2">Bear Color</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="enter bear color">
            </fieldset>
            <fieldset class="form-group">
              <label>Bear Species</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="enter species of bear">
            </fieldset>
          </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>
